.imgtest > img:hover 
    {
        width: 30%;
    }

.tbl
{
    border: 5px solid red;
}

.test
{
    border: 5px solid green;
    /* Гледай винаги да слагаш ; в края на двойка porperty : value. Инак ще имаш главоболия в един момент*/
    padding: 5px
}

/* Този начин на изписване на селекторите и нов ред за скобата не бих ти го препоръчал. Не че е грешно. 
Реално е въпрос на избор. Причината аз да не го каресвам, е че раздува CSS-а с излишни редове, които не носят собствен смисъл.

.test{
    padding: 5px;    
}

се чете еднакво леско като алтернативния запис, но заема по-малко място

*/